.form {
    bottom: 20px;
    width: 50%;
    position: relative;
    height: 60px;
    overflow: hidden;
}

.form input {
    width: 100%;
    height: 100%;
    color: #666;
    padding-top: 20px;
    border: none;
    outline: none;
}

.form label {
    position: absolute;
    bottom: 5px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #888;
}

.form label::after {
    left: 0px;
    top: 1px;
    content: "";
    position: relative;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #aab353;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.input-content {
    position: absolute;
    bottom: 2px;
    left: 0px;
    transition: all 0.3s ease;
}

.form-input {
    margin-top:50px;
}

.form input:focus + .input-lable .input-content, 
.form input:valid + .input-lable .input-content {
    transform: translateY(-120%);
    font-size: 14px;
    color: #aab353;
}

.form input:focus + .input-lable::after, .form input:valid + .input-lable::after {
    transform: translateX(0%);
}