
.planet-table {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}



.planets {
  position: relative;
  padding: 1rem;
  padding-bottom: 1rem;
}

.planets:last-child {
  padding-bottom: 7rem;
}


/* Small */
@media only screen and (max-width: 600px){
}

/* Large */
@media only screen and (min-width: 600px){
  .planets {
    width: 450px;
    display: inline-block;
    position: relative;
    text-align: initial;
  }
  .planet-table {
    justify-content: center;
    display: block;
    /* text-align: center; */
    
  }
}
