:root {
    font-size: 16px;
}

.wrap {
    font-family: 'Roboto', sans-serif;
}

.mainframe {
    display: flex;
    position: relative;
    height: 100%;
    display: inline-block;
    width: 100%;
}
main {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.mainframe::-webkit-scrollbar {
    display: inline-block;
    width: 0.35rem;
    margin-bottom: 5rem;
}

.mainframe::-webkit-scrollbar-thumb {       
    background: #aab353;
    border-right: none;
    border-left: none;
}

.mainframe::-webkit-scrollbar-track {
    background: transparent;
}


/* .mainframe::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
} */

.greet {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* Small */
@media only screen and (max-width: 600px) {
    .mainframe {
        /* bottom: 4rem; */
        top: 3rem;
        overflow-y: scroll;
        bottom: 0rem;
        padding-bottom: 8rem;
        padding-left: 0.3rem;
    }
    .mainframe::-webkit-scrollbar-track-piece:end {
        background: transparent;
        margin-bottom: 7rem; 
    }
}

/* Large */

@media only screen and (min-width: 600px) {
    .mainframe {
        overflow-y: scroll;
        top: 4rem;
        padding-left: 5.3rem;
        padding-bottom: 6rem;
    }
    .mainframe::-webkit-scrollbar-track-piece:end {
        background: transparent;
        margin-bottom: 4rem; 
    }
}